<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo!</h1>
    <fieldset>
        <legend>Submit A Quote</legend>
        <form method="post" action="/quotes">
        <label>Your Name: <input type="text" name="name"></label><br><br>
        <label>Your Quote: <textarea name="quote"></textarea></label><br><br>
        <input type="submit" value="Add Quote">
        </form>

    </fieldset>
    <h1>Here are the awesome quotes!</h1>
    <% for (var x in quotes) { %>
    "<%= quotes[x].quote %>" by <a href="/user/<%= quotes[x].name %>"><%= quotes[x].name %></a> at <%= quotes[x].createdAt %><br>
    <a href="/edit/<%= quotes[x]._id %>">Edit</a> <a href="/delete/<%= quotes[x]._id %>">Delete</a>
    <hr>
    <% } %>
    
</body>
</html>