<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    <h1>Here are the awesome quotes from <%= quotes[0].name %>!</h1>
    <% for (var x in quotes) { %>
    "<%= quotes[x].quote %>" by <%= quotes[x].name %> at <%= quotes[x].createdAt %><br>
    <a href="/edit/<%= quotes[x]._id %>">Edit</a> <a href="/delete/<%= quotes[x]._id %>">Delete</a>
    <hr>
    <% } %>
    <a href="/">Go Back</a>
    
</body>
</html>